.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home_container {
  margin-top: 6rem;
}
.home_top {
  /* margin: 2rem 8rem; */
  border: 1px #888;
  padding: 1rem;
  border-radius: 5rem;
}

.preview-card-link {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  text-decoration: none;
  color: inherit;
}

.show-card {
  background-color: #fff;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.show-card:hover {
  transform: scale(1.09);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.show-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.show-content {
  padding: 16px;
}

.show-title {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 800;
}

.show-line {
  height: 1px;
  background-color: #ddd;
  margin-bottom: 8px;
}

.show-seasons,
.show-updated {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
}

.show-genres {
  color: #242222;
  font-weight: 700;
}

.circular-progress {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (min-width: 768px) {
  .preview-card-link {
    width: calc(50% - 20px);
  }
}

@media (min-width: 1024px) {
  .preview-card-link {
    width: calc(33.33% - 20px);
  }
}

@media (min-width: 1200px) {
  .preview-card-link {
    width: calc(25% - 20px);
  }
}
