.home-page {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home_container{
  margin-top: 6rem;
}
.home_top{
  margin: 2rem 8rem;
  border: 1px solid #888;
  padding: 1rem;
  border-radius: 1rem;
}

.shows-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-card {
  text-align: center;
  width: 350px;
  margin: 10px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.show-card:hover {
  transform: translateY(8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.show-image {
	width: 70%;
	height: auto;
	border-radius: 0.2rem;
	flex-shrink: 0;
	display: block;
	margin: 0 auto;
  }

.show-content {
  padding: 16px;
}

.show-title {
  margin-top: 0;
  font-size: 1.5rem;
}

.show-line{
  border-top: 1px solid #888;
}

.show-description {
  font-size: 0.9rem;
  color: #666;
}

.show-seasons,
.show-updated {
  font-size: 0.8rem;
  color: #888;
}

.show-genres{
  font-weight: bold;
  font-size: 1.1rem;
}

/* Read More Button */
.read-more-btn {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 5px;
}

.read-more-btn:hover {
  text-decoration: underline;
}

.circular-progress {
	position: absolute;
	top: 50%;
	left: 50%;
  }

@media (max-width: 768px) {
  .shows-list {
    justify-content: center;
  }

  .show-card {
    width: 80%;
    max-width: 400px;
  }
}
