.search-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.filter-search input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.filter-search > label {
  font-weight: 400;
  margin-right: 0.5rem;
}
.filter-search input {
  background-color: transparent;
  border: 1px solid #003eab;
  height: 2rem;
}

@media only screen and (max-width: 425px) {
  .filter-search {
    margin-left: 0;
  }
  .filter-search input {
    height: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .filter-search input {
    width: 13rem;
  }
}
