.footer {
  background-color: #97917b;
  color: whitesmoke;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  width: 100%;
  flex-shrink: 0;
  bottom: 0;
}
